<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <mat-input-container>
        <textarea
            matInput
            placeholder="Respesta"
            name="description"
            ngModel
        ></textarea>
    </mat-input-container>
    <button type="submit" mat-raised-button color="accent">Responder</button>
</form>
