<form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
    <mat-input-container>
        <input
            matInput
            placeholder="Nombre"
            formControlName="name"
            id="name"
        >
    </mat-input-container>
    <mat-input-container>
            <input
                matInput
                placeholder="Apellido"
                formControlName="lastName"
                id="lastName"
            >
    </mat-input-container>
    <mat-input-container>
        <input
            matInput
            placeholder="Correo electronico"
            formControlName="email"
            id="email"
        >
    </mat-input-container>
    <mat-input-container>
            <input
                type="password"
                matInput
                placeholder="Contraseña"
                formControlName="password"
                id="password"
            >
        </mat-input-container>
        <button type="submit" mat-raised-button color="accent">Iniciar s esión</button>
    <p style="text-align: center">
        ¿Ya tienes cuenta?
        <a [routerLink]="['/signin']" mat-button color="primary">Iniciar Sesion</a>
    </p>
</form> 
