<mat-toolbar color="primary">
    <span [routerLink]="['/']">PlatziOverflow</span>
    <span class="space"></span>
    <mat-icon [routerLink]="['/signin']">account_circle</mat-icon>
</mat-toolbar>
<router-outlet></router-outlet>
